:root {
  --beige: #CD9C8A;
  --dg: #323232;
  --whiteish: #E7EDF0;
  --text1: #4E555C;
  --Red: #B62A2E;
}

/* -----------NavBar styling and Responsive------------ */
body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.topnav {
  margin-right: -15px;


  height: 110px;

}






.topnav a {
  float: right;
  display: block;
  color: var(--text1);
  padding-top: 35px;
  padding-bottom: 15px;
  padding-right: 8px;
  padding-left: 10px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  color: lightgrey;
}

.topnav a.active {

  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: fixed;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    background-color: var(--whiteish);
    float: none;
    display: block;
    text-align: left;
    position: relative;
    z-index: 1000;
    padding-top: 35px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 25px;
    color: var(--text1);
  }


  .topnav.responsive .donateBtn {
    /* position: absolute;
    top: 0;
    right: 0;
    margin-top: 15px; 
    margin-right: 15px; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 120px;
    background-color: var(--Red); 
    font-weight: 500;
    font-size: 25px;
    color: white; */
    display: none;
  }

  .logo {
    max-width: 160px;
  }

}


/* --------------Donate Section------------------ */

.donateContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text1);
  width: 100%;
  height: 90px;
  background-color: var(--Red);
  text-align: center;

}

.donateBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  height: 55px;
  width: 110px;
  background-color: var(--Red);
  font-weight: 500;
  font-size: 30px;
  float: right;
  margin-top: 25px;
}

.donateBtn a {
  text-decoration: none;
  color: white;
  margin-bottom: 20px;

}

/* ---------Main / Form Section------------- */


form {
  max-width: 800px;
  padding: 15px;
  margin-top: 200px;


}


.feedback-input {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #CC4949;
}

textarea {
  height: 180px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background: #CC6666;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

[type="submit"]:hover {
  background: var(--Red);
}




/* ------------------Right Images----------------------- */

.position-container {
  overflow: hidden;
  float: right;
  width: 50%;
  margin-bottom: 50px;
}

.rightmain {
  float: right;
  margin-top: 0;
}


.freinds {
  width: 800px;
  height: 600px;
  max-width: 800px;
  border: 2px solid #CC6666;
}

.fam {
  width: 100%;
  max-width: 800px;
  border: 2px solid #CC6666;
}


/* ----------------Footer Styling----------------- */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  align-items: center;
  color: white;
  background-color: #B62A2E;
}


footer {
  margin-top: 100px;
  padding: 20px;
  font-weight: 300;

}

@media screen and (max-width: 600px) {
  .freinds {
    display: none;
  }

  .fam {
    display: none;
  }

  form {
    margin-top: 25px;
    margin-bottom: 200px;
  }

}